{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Create Account{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">Create Account</div>
        <form id="regForm" method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'verify_code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                            <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="btnSms" type="button" class="btn btn-default" value="Get verify code">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col-xs-3">
                    <input id="btnSubmit" type="button" class="btn btn-primary" value="Create Account"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        /*
        Click button and get the verify code
         */
        $(function() {
            $('#btnSms').click(function() {
                $('.error-msg').empty();
                //Get the mobile phone number
                //Find the ID for mobile_phone and then get the number
                var mobilePhone = $('#id_mobile_phone').val();

                //Send Ajax request
                $.ajax({
                    url: "{% url 'send_sms' %}",
                    type: "GET",
                    data: {
                        mobile_phone: mobilePhone,
                        tpl: "register",
                    },
                    dataType: "JSON",
                    success: function(res) {
                        if(res.status){
                            console.log('Send Successfully.')
                        } else {
                            $.each(res.error, function (key, value) {
                                $("#id_" + key).next().text(value[0]);
                            })
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}